.nav{
    &_menu{
        width: 240px;
        height: 100%;
        position: absolute;
        right: 0px;
        .link{
            width: 100%;
            height: auto;
            position: relative;
            &-anim{
                width: 100%;
                height: 2em;
                margin-bottom: 20px;
                position: relative;
                span:nth-child(1){
                    opacity: 0;
                    animation: blur-anim 1s steps(1) 12400ms 2 forwards, nav-discover 1s linear 14400ms forwards, blur-moove 3s linear 15400ms infinite;
                }
            }
        }
    }
}

.border-blur{
    width: 108px;
    height: 1px;
    top: 9px;
    right: 0px;
    transform-origin: right;
    background-color: $color-txt;
    position: absolute;
    opacity: 0;
    animation: border-discover 1s linear 14400ms, border-moove 3s linear 15400ms infinite;
}
.link{
    ul{
        width: 100%;
        height: auto;
        @include flex_CFS;
        li{
            width: 100%; 
            height: 100%;
            margin-bottom: 40px;
            opacity: 0;
            span{
                opacity: 1;
            }
            a{
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 300;
            }
            p{
                font-family: 'Satoshi-Medium';
                font-size: 35px;
            }
        }
        li:nth-child(1){
            animation: nav-anim 250ms linear 14400ms forwards;
        }
        li:nth-child(2){
            animation: nav-anim 250ms linear 14650ms forwards;
        }
        li:nth-child(3){
            animation: nav-anim 250ms linear 14900ms forwards;
        }
        li:nth-child(4){
            animation: nav-anim 250ms linear 15150ms forwards;
        }
    }
}

.align{
    text-align: end;
}

// classe qui me permet de rendre les boutons de mon menu en position relative pour appliquer les z index sur les blur
.relative{
    position: relative;
}


//------- INDEX PAGE WITHOUT  -------//
.nav{
    &_menu{
        width: 240px;
        height: 100%;
        position: absolute;
        right: 0px;
        .linknav--1{
            width: 100%;
            height: auto;
            position: relative;
            &-anim{
                width: 100%;
                height: 2em;
                margin-bottom: 20px;
                position: relative;
                span:nth-child(1){
                    animation: blur-moove 3s linear infinite;
                }
            }
        }
    }
}

.border-blur--1{
    width: 108px;
    height: 1px;
    top: 9px;
    right: 0px;
    transform-origin: right;
    background-color: $color-txt;
    position: absolute;
    animation: border-moove 3s linear infinite;
}
.linknav--1{
    ul{
        width: 100%;
        height: auto;
        @include flex_CFS;
        
        li{
            width: 100%; 
            height: 100%;
            margin-bottom: 40px;

            a{
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 300;
            }
            p{
                font-family: 'Satoshi-Medium';
                font-size: 35px;
            }
        }
    }
}



