//------ INDEX PAGE ------//

.menu{
    width: 1440px;
    height: 80px;
    padding: 0 95px 0 95px;
    position: fixed;
    z-index: 1000;
    background-color: #00000000;
    @include flexrowspaceB;
}

.menu_start{
    position: relative;
    @include flexrowcentercenter;
    ul {
        height: 100%;
        @include flexrow;
        li{
            @include flexrow;
            margin-right: 40px;
        }
    }
}
.menu_end{
    width: auto;
    height: auto;
    @include flexrowcentercenter;
    a {
        width: auto;
        height: auto;
        @include flexrowcentercenter;
        margin-left: 16px;
    }
    p{
        text-transform: uppercase;
        color: $primary;
        margin-right: 8px;
    }
}


.menu_txt{
    font-size: 16px;
    line-height: 24px; 
    font-weight: 500;
    font-family:'Outfit', Verdana, Arial, Open;
    margin-right: 8px;
    color: $white;
    &--1{
        @extend .menu_txt;
        color: $white;

    }
    &--2{
        margin-right: 0px;
        color: $white;
    }
}

.logo{
    margin-right: 78px;
    font: 100;
}

.visible{
    visibility: visible;
}
.invisible{
    visibility: hidden;
}
.white{
    color: $white;
}
.black{
    color: $black;
}
.invisible{
    visibility: hidden;
}

.menu_logo-white{
    position: absolute;
    left: 0;
}
