@charset "UTF-8";
/*------ COLORS ------*/
/*------ TYPO ------*/
/*------ Margin ------*/
/*------ icon ------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: auto;
  height: auto;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  width: auto;
  height: auto;
  text-decoration: none;
  cursor: pointer;
  color: #072038;
}

button {
  /* Réinitialisation des styles par défaut */
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active,
a:hover {
  outline: 0;
}

h1 {
  font-family: "Outfit", Verdana, Arial, Open;
  font-size: 72px;
  color: #072038;
  font-weight: 600;
}

h2 {
  font-family: "Outfit", Verdana, Arial, Open;
  font-size: 60px;
  color: #072038;
  font-weight: 500;
}

h3 {
  font-family: "Outfit", Verdana, Arial, Open;
  font-size: 48px;
  color: #072038;
  font-weight: 500;
}

h4 {
  font-family: "Outfit", Verdana, Arial, Open;
  font-size: 36px;
  color: #072038;
  font-weight: 500;
}

h5 {
  font-family: "Outfit", Verdana, Arial, Open;
  font-size: 20px;
  color: #072038;
  font-weight: 500;
}

h6 {
  font-family: "Outfit", Verdana, Arial, Open;
  font-size: 18px;
  color: #072038;
  font-weight: 500;
}

p {
  font-family: "Porpora", Verdana, Arial, Open;
  font-size: 18px;
  color: #072038;
  font-weight: 400;
}

@font-face {
  font-family: "Porpora";
  src: url("../../fonts/Porpora-Regular 12.14.56.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@keyframes banner {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.menu_button {
  width: auto;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu_button:hover {
  background-color: #F0FDFF;
}

.primary_button {
  width: auto;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 60px;
  background-color: #26C1D9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #072038;
  font-family: "Outfit", Verdana, Arial, Open;
}

.secondary_button, .secondary_button-1 {
  width: auto;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 60px;
  background-color: #FD7762;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #072038;
  font-family: "Outfit", Verdana, Arial, Open;
  text-transform: uppercase;
}
.secondary_button-1 {
  text-transform: none;
}

.category_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 32px;
  border-radius: 5px;
  border: solid 1px #26C1D9;
  padding: 6px 12px 6px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #26C1D9;
  font-family: "Outfit", Verdana, Arial, Open;
}

.menu {
  width: 1440px;
  height: 80px;
  padding: 0 95px 0 95px;
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu_start {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu_start ul {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.menu_start ul li {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

.menu_end {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu_end a {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
.menu_end p {
  text-transform: uppercase;
  color: #26C1D9;
  margin-right: 8px;
}

.menu_txt, .menu_txt--1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Outfit", Verdana, Arial, Open;
  margin-right: 8px;
  color: #FFFFFF;
}
.menu_txt--1 {
  color: #FFFFFF;
}
.menu_txt--2 {
  margin-right: 0px;
  color: #FFFFFF;
}

.logo {
  margin-right: 78px;
  font: 100;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.white {
  color: #FFFFFF;
}

.black {
  color: #072038;
}

.invisible {
  visibility: hidden;
}

.menu_logo-white {
  position: absolute;
  left: 0;
}

.menu_product {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu_product:hover .product_detail {
  height: 258px;
}

.product_detail {
  overflow: hidden;
  width: 1440px;
  height: 0px;
  background-color: #FFFFFF;
  position: absolute;
  top: 80px;
  left: -333px;
  z-index: 11;
  transition: height 200ms ease-in-out;
}
.product_detail h5 {
  margin-bottom: 20px;
  margin: 48px 20px 32px 80px;
}

.product_detail-block {
  width: 50%;
  height: 124px;
  padding: 32px;
}
.product_detail-block:hover {
  background-color: #F0FDFF;
}

.product_detail-block-title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.product_detail-block-title h6 {
  margin-left: 10px;
  color: #26C1D9;
}

.menu_ressource {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu_ressource:hover .ressource_detail {
  height: 302px;
}

.ressource_detail {
  overflow: hidden;
  width: 1440px;
  height: 0px;
  background-color: #FFFFFF;
  position: absolute;
  top: 80px;
  left: -492px;
  z-index: 12;
  transition: height 200ms ease-in-out;
}
.ressource_detail h5 {
  margin-bottom: 20px;
  margin: 48px 20px 32px 80px;
}

.ressource_detail-block {
  width: 25%;
  height: 148px;
  padding: 32px;
}
.ressource_detail-block:hover {
  background-color: #F0FDFF;
}

.ressource_detail-block-title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.ressource_detail-block-title h6 {
  margin-left: 10px;
  color: #26C1D9;
}

.menu_company {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}

#carousel {
  width: 100%;
  height: 902px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel_title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.carousel_title h3 {
  line-height: 58px;
}

.carousel_elipse {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.carousel_shape {
  position: absolute;
  bottom: -50px;
  left: -7px;
  z-index: 10;
}

.carousel_container {
  width: 1280px;
  height: 600px;
  border-radius: 25px;
  background: #072038;
  display: flex;
  flex-direction: row;
}

.carousel_block {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 25px 0 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel_block img {
  position: absolute;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 80%);
  mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  right: -150px;
}
.carousel_block svg {
  z-index: 10;
  fill: #26C1D9;
}

.carousel_block-1 {
  width: 50%;
  height: 100%;
  padding: 80px 50px 80px 80px;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel_block-1 h5 {
  color: #26C1D9;
  margin-bottom: 20px;
}
.carousel_block-1 h4 {
  color: #FFFFFF;
  margin-bottom: 20px;
}
.carousel_block-1 .carousel_logo {
  width: 98px;
  height: auto;
  margin-bottom: 20px;
}

.carousel_arrow {
  margin-bottom: 50px;
}

.carousel_arrow-R {
  transform: scaleX(-1);
  margin-left: 10px;
}

.carousel_page {
  width: auto;
  height: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.carousel_circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #A0BDC0;
  position: relative;
}

.carousel_circle-on {
  width: 23px;
  height: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #26C1D9;
  position: relative;
}

#blog {
  width: 100%;
  height: auto;
  padding: 20px 80px 80px 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#blog h3 {
  margin-bottom: 20px;
}

.blog_intro {
  width: 846px;
  height: auto;
  margin-bottom: 20px;
  line-height: 24px;
  text-align: center;
}

.blog_article {
  width: 100%;
  height: 440px;
  padding: 32px 0 32px 0;
  position: relative;
}
.blog_article ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid 2px #A0BDC0;
  width: 32%;
  height: 100%;
  border-radius: 15px;
  padding: 32px 24px 32px 24px;
  position: relative;
}

.p_box p {
  white-space: normal; /* Permet au texte de passer à la ligne naturellement */
  display: -webkit-box; /* Utilisation de la propriété -webkit-box pour gérer le nombre de lignes */
  -webkit-line-clamp: 5; /* Limite le nombre de lignes à 3 avant d'ajouter les points de suspension */
  -webkit-box-orient: vertical; /* Spécifie que le texte doit s'afficher verticalement */
  overflow: hidden; /* Masque le texte débordant */
  text-overflow: ellipsis; /* Ajoute des points de suspension (...) lorsque le texte dépasse */
}

.margin_bottom {
  margin-bottom: 24px;
}

.blog_author {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog_author-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.blog_author-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}
.blog_author-photo img {
  position: absolute;
  object-fit: cover;
  width: 140%;
  height: auto;
  top: -20px;
  left: -15px;
}
.blog_author p {
  width: 220px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #072038;
  font-family: "Outfit", Verdana, Arial, Open;
}

#illustration {
  width: 100%;
  height: auto;
  padding: 128px 80px 128px 80px;
  background: linear-gradient(90deg, rgb(7, 32, 56) 0%, rgb(10, 53, 95) 100%);
}
#illustration h2 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
#illustration h2 span {
  color: #26C1D9;
}

.illustration_container {
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.illustration_block, .illustration_block--1 {
  width: 50%;
  height: 100%;
  border-radius: 25px 0 0 25px;
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
}
.illustration_block img, .illustration_block--1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.illustration_block--1 {
  border-radius: 0 25px 25px 0;
}

.illustration_title {
  margin: 70px 0 40px 0;
  display: flex;
  flex-direction: row;
}
.illustration_title-icon {
  width: 48px;
  fill: #FD7762;
}
.illustration_title h3 {
  margin-left: 20px;
}

.illustration_txt {
  width: 520px;
  height: auto;
  margin-bottom: 40px;
}
.illustration_txt P {
  line-height: 24px;
}

.illustration_list ul {
  margin-bottom: 50px;
}
.illustration_list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0 16px 16px;
}
.illustration_list-icon {
  fill: #072038;
}

.icon_container {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #F0FDFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.padding-left {
  padding-left: 70px;
}

.illustration_block--3 {
  width: 50%;
  height: 100%;
  border-radius: 0 25px 25px 0;
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.block_img {
  position: absolute;
  right: -50px;
}

.block_ipad {
  position: relative;
  width: 90%;
  height: auto;
  top: 345px;
  left: 40px;
  z-index: 1;
}

#description_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.description {
  width: 100%;
  height: auto;
  padding: 60px 189px 60px 189px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.description_title {
  width: 48%;
  height: auto;
}
.description_txt {
  width: 48%;
  height: auto;
}
.description_txt p {
  margin-bottom: 20px;
  line-height: 24px;
}

.back_shape {
  position: absolute;
  right: 0;
  top: 80px;
}

.back_color {
  width: 100%;
  height: 221px;
  margin-top: 220px;
  background: linear-gradient(90deg, rgb(7, 32, 56) 0%, rgb(10, 53, 95) 100%);
}

.back_photo {
  width: 1062px;
  height: 423px;
  right: 189px;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
}
.back_photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#stayintouch {
  width: 100%;
  height: auto;
  padding: 80px;
  position: relative;
}

.stayintouch_container {
  width: 100%;
  height: 498px;
  border-radius: 10px;
  background-color: #072038;
  position: relative;
  display: flex;
  flex-direction: row;
}

.stayintouch_photo {
  width: 50%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  position: relative;
  overflow: hidden;
}
.stayintouch_photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: -35px;
}

.stayintouch_description {
  width: 50%;
  height: 100%;
  padding: 103px 48px 103px 48px;
}
.stayintouch_description h3 {
  color: #26C1D9;
  line-height: 58px;
}
.stayintouch_description h4 {
  color: white;
  line-height: 40px;
}

.footer_container {
  width: 100%;
  height: auto;
  padding: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_container h5 {
  color: #156B79;
  margin-bottom: 24px;
}
.footer_container a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Outfit", Verdana, Arial, Open;
  color: #26C1D9;
}
.footer_container li {
  margin-bottom: 24px;
}

.footer_link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_margin {
  margin-bottom: 10px;
}

.footer_end {
  width: 100%;
  height: 72px;
  padding: 24px 80px 24px 80px;
  background-color: #F7FAFB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer_mention {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_editor {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_editor a {
  text-decoration: underline;
  font-weight: bold;
}

.footer_elipse {
  position: absolute;
  top: -120px;
  right: -140px;
  z-index: -1;
  width: 22%;
  height: auto;
  transform: rotate(90deg);
}

.relative {
  overflow: hidden;
  position: relative;
}

#wrapper {
  width: 1440px;
  height: 100%;
  position: relative;
  margin: 0 auto; /* Centre horizontalement */
}

#header_index {
  width: 100%;
  height: auto;
}

#main_index {
  width: 100%;
  height: auto;
}

#footer_index {
  width: 100%;
  height: auto;
}

#intoduction {
  width: 1440px;
  height: auto;
  padding: 93px 80px 93px 80px;
  background: linear-gradient(90deg, rgb(7, 32, 56) 0%, rgb(10, 53, 95) 100%);
  display: flex;
  flex-direction: row;
}

.intro_container {
  width: 673px;
  height: 100%;
}
.intro_container-txt {
  width: 553px;
  margin-bottom: 35px;
}
.intro_container-txt h1 {
  margin-bottom: 35px;
  color: #FFFFFF;
}
.intro_container-txt h1 span {
  color: #26C1D9;
}
.intro_container-txt p {
  color: #FFFFFF;
  margin-bottom: 35px;
}
.intro_container-customer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro_illustration {
  width: 587px;
  height: auto;
  position: relative;
  overflow: hidden;
}
.intro_illustration img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.intro_banner {
  width: 100%;
  height: 230px;
  position: relative;
  background: linear-gradient(90deg, rgb(7, 32, 56) 0%, rgb(10, 53, 95) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro_banner-txt {
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  transform: rotate(-4deg);
}
.intro_banner-txt p {
  animation: banner 10s linear infinite forwards;
  font-size: 160px;
  font-weight: 500;
  color: #26C1D9;
  font-family: "Outfit", Verdana, Arial, Open;
}
.intro_banner-txt p span {
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: #26C1D9;
  color: transparent;
}

.intro_polygon {
  width: 100%;
  height: 86px;
  position: relative;
  background: linear-gradient(90deg, rgb(7, 32, 56) 0%, rgb(10, 53, 95) 100%);
  clip-path: polygon(0 0, 100% 0, 100% 2%, 0% 100%);
  bottom: 1px;
}

/*# sourceMappingURL=style.css.map */
