.menu_button{
    width: auto;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 60px;
    //background-color: $primary100;
    @include flexrowcentercenter;
    &:hover{
        background-color: $primary100;
    }
}

.primary_button{
    width: auto;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 60px;
    background-color: $primary;
    @include flexrowcentercenter;
    font-size: 16px;
    line-height: 24px; 
    font-weight: 500;
    color: $black;
    font-family:'Outfit', Verdana, Arial, Open;    
}

.secondary_button{
    width: auto;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 60px;
    background-color: $secondary;
    @include flexrowcentercenter;
    font-size: 16px;
    line-height: 24px; 
    font-weight: 500;
    color: $black;
    font-family:'Outfit', Verdana, Arial, Open;
    text-transform: uppercase;
    &-1{
        @extend .secondary_button;
        text-transform: none; 
    }  
}


.category_button{
    @include flexrowcentercenter;
    width: auto;
    height: 32px;
    border-radius: 5px;
    border: solid 1px $primary;
    padding: 6px 12px 6px 12px;
    font-size: 14px;
    line-height: 20px; 
    font-weight: 500;
    color: $primary;
    font-family:'Outfit', Verdana, Arial, Open;

}

