





.gradient{
    width: 60%;
    height: 70%;
    position: absolute;
    @include flex_CC;
    transform-origin: 40% 500%;
    transform: rotate(50deg);
    //animation: gradient-anim 5s ease-in 1 both;
    
    &__block{
        width: 100%;
        height: 100%;
        position: relative;
        border: solid 16px $color-block;
        @include flex_CC;
        background: $color-block;
        box-shadow: $shadow-block-1;
        overflow: hidden;
    }


    &__effect{
        width: 150%;
        height: 350%;
        position: absolute;
        background-color: #5365BC;
        background:
        linear-gradient(90deg, #4BF0E9, rgba(255, 0, 0, 0.123) 50.71%),
        linear-gradient(200deg, #5365BC, rgba(255, 0, 0, 0.123) 70.71%),
        linear-gradient(350deg, #fF5572, rgba(255, 0, 0, 0.123) 95.71%);
        // background-size en dessous du Gradient sinon ca ne fonctionne pas
        box-shadow: $shadow-block-1;
        animation: gradient-moove 8s linear infinite alternate;
    }
}
