

/*-----PLay Button-----*/
.morphing{
    width: 60%;
    height: 70%;
    background: $grey-dark-4;
    overflow: hidden;
    @include flex_CC;
    position: relative;
    transform-origin: 40% 500%;
    //animation: morphing-anim 5s linear 1 both;
}


.circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @include flex_CC;
    p{
        font-family: 'Satoshi-Medium';
        color: $primary;

    }

    &__back-1, &__back-2, &__back-3, &__back-4, &__back-5, &__back-6{
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        filter: blur(1px);
        //le dégradé amène la texture à l'intérieur de la forme 
        background: linear-gradient(to bottom right, black 0%,black 70% $grey-dark-3 100%);
    }

    &__back-1{
        position: absolute;
        //le box shadow amène la texture à l'extérieur de la forme qui vient compléter l'effet du gradient
        // quand on enleve le box shabow ca fait un effet sable mouvant
        box-shadow: 
        .4rem .4rem .8rem black, 
        -.4rem -.4rem .8rem $grey-dark-3;
        animation: wave 5s linear 1s infinite;
        &.paused{
            animation-play-state: paused;
        }
    }
    &__back-2{
        position: absolute;
        box-shadow: 
        .4rem .4rem .8rem black, 
        -.4rem -.4rem .8rem $grey-dark-3;
        animation: wave 5s linear 2s infinite;
        &.paused{
            animation-play-state: paused;
        }
    }
    &__back-3{
        position: absolute;
        box-shadow: 
        .4rem .4rem .8rem black, 
        -.4rem -.4rem .8rem $grey-dark-3;
        animation: wave 5s linear 3s infinite;
        &.paused{
            animation-play-state: paused;
        }
    }
    &__back-4{
        position: absolute;
        box-shadow: 
        .4rem .4rem .8rem black, 
        -.4rem -.4rem .8rem $grey-dark-3;
        animation: wave 5s linear 4s infinite;
        &.paused{
            animation-play-state: paused;
        }
    }
    &__back-5{
        position: absolute;
        box-shadow: 
        .4rem .4rem .8rem black, 
        -.4rem -.4rem .8rem $grey-dark-3;
        animation: wave 5s linear 5s infinite;
        &.paused{
            animation-play-state: paused;
        }
    }
    &__back-6{
        position: absolute;
        box-shadow: 
        .4rem .4rem .8rem black, 
        -.4rem -.4rem .8rem $grey-dark-3;
        animation: wave 5s linear 6s infinite;
        &.paused{
            animation-play-state: paused;
        }
    }



    &__btn{
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        background: $grey-dark-4;
        box-shadow: $shadow;
        @include flex_CC;
        z-index: 300;
        // la position relative du container permet d'adapter la taille des deux enfants qui sont en position absolute. Ca ajoute une dependance
        position:relative;
        cursor: pointer;
        &.shadow{
            box-shadow: $inner-shadow;
        }
    }
}

.play{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    font-size: 150px;
    position: absolute;
    opacity: 0;
    transition: all 150ms linear;
    @include flex_CCC;
    &.visibility{
        opacity: 1;
    }
}

.pause{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    transition: all 150ms linear;
    @include flex_CCC;
    &__txt{
        font-size: 19px;
    }
    &__txt1{
        font-size: 16px;
    }
    &__txt2{
        font-size: 14px;
    }
    &.visibility{
        opacity: 0;
    }
}

