*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; 
}

html, body {
  width: 100%;
  height: 100%;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
    box-sizing: border-box;
    //overflow-y: hidden;
    //overflow-x: hidden;
}

body {
    line-height: 1;
}


ol, ul{
    list-style: none; 
}
a{
    text-decoration: none;
    cursor: pointer;
    color: $color-txt;
}
button {
  /* Réinitialisation des styles par défaut */
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

    /**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; 
}

h1{
  font-family: 'Satoshi-Bold', Verdana, Arial, Open;
  font-size: 40px;
  color: $color-txt;
}
h2     {
  font-family: 'Satoshi-Medium', Verdana, Arial, Open;
  font-size: 25px;
  color: $color-txt;
}
h3, h4, h5, h6{
  font-family: 'Satoshi-Medium', Verdana, Arial, Open;
  font-size: 20px;
  color: $color-txt;
}
p{
  font-family: 'Satoshi-Regular', Verdana, Arial, Open;
  font-size: 15px;
  color: $color-txt;
}
