
#wrapper_about{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    //overflow-y: hidden;
    overflow-x: hidden;
}

#header_about{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    //border: solid 2px red; 
}

#main_about{
    width: 115%;
    height: auto;
    margin-left: 9%;
    display: flex;
    justify-content: center;
    //border: solid 4px rgb(26, 244, 26); 
}

#footer_about{
    width: 100%;
    height: auto;
    margin-top: 13rem;
    padding: 3rem;
    position: relative;
    //border: solid 1px black; 
    span:nth-child(1){
        display: block;
        width: 890px;
        height: 1px;
        background-color: $color-txt;
    }
    h2{
        margin-bottom: 1rem;
    }
}
.mail{
    text-decoration: line-through;
}

/*----- TITRE H2 POUR LA PAGE  ---- */

.about_title{
    position: relative;
    text-transform: uppercase;
    margin-right: 2rem;
}

/*----- GRID POUR LE MAIN ---- */


.grid_section{
    width: calc(115% - (4% * 3));
    height: calc((550px * 2) + 80px);
    margin-right: 4%;

}

.container_grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    height: 100%; /* Ajout de cette ligne */

    }
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    border: solid 1px $color-txt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div2 { 
    grid-area: 2 / 1 / 3 / 2;
    border: solid 1px $color-txt;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20%;
    }
}

.div3 { 
    grid-area: 1 / 1 / 2 / 2;
    border: solid 1px $color-txt;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 40%;
    }
}

.div4 { 
    grid-area: 2 / 1 / 3 / 2;
    border: solid 1px $color-txt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.div5 { 
    grid-area: 1 / 1 / 2 / 2;
    border: solid 1px $color-txt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div6 { 
    grid-area: 2 / 1 / 3 / 2;
    border: solid 1px $color-txt;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.full_grid{
    background-color: $color-txt;
}

.marge_grid{
    margin-top: 100px;
}

/*----- ELEMENT DU GRID ANIME EN JS---- */
/*----- Pour la reocnversion---- */

.moove_txt{
    font-family: 'Satoshi-Variable';
    font-size: 43px;
    font-weight: 700;
    position: relative;
    &::after{
        content: "";
        top: 26px;
        left: -2px;
        width: 274px;
        height: 2px;
        background-color: $color-txt;
        position: absolute;
    }
}

#mooveParagraph{
    width: 200px;
    height: auto;
    font-family: 'Satoshi-Variable';
    font-size: 32px;
    font-weight: 700;
}

/*----- Pour la carrière---- */

.career_txt{
    font-family: 'Satoshi-Variable';
    font-size: 45px;
    font-weight: 700;
    position: relative;
    &::after{
        content: "";
        top: 27px;
        left: -2px;
        width: 176px;
        height: 2px;
        background-color: $color-txt;
        position: absolute;
    }
}

#careerParagraph{
    width: 200px;
    height: auto;
    text-align: center;
    font-family: 'Satoshi-Variable';
    font-size: 32px;
    font-weight: 700;
}

/*----- Pour la sport---- */

.sports_txt{
    font-family: 'Satoshi-Variable';
    font-size: 45px;
    font-weight: 700;
    position: relative;
    &::after{
        content: "";
        top: 26px;
        left: -2px;
        width: 140px;
        height: 2px;
        background-color: $color-txt;
        position: absolute;
    }
}

#sportParagraph{
    width: 200px;
    height: auto;
    text-align: center;
    font-family: 'Satoshi-Variable';
    font-size: 32px;
    font-weight: 700;
}
