#header_index{
    width: 100%;
    height: 20%;
    margin-bottom: 2%;
}
  
#main_index{
    width: 100%;
    height: 65%;
    position: relative;
}
  
#footer_index{
    width: 100%;
    height: 9%;
}


.footer_container{
    width: 100%;
    height: 100%;
    display: flex;
    @include flexR_end_spaceB; 
}


.date{
    opacity: 0;
    animation: date-anim 200ms linear 11400ms 3 forwards;
    @include flexR_JC;
    p{
        font-size: 20px;
    }
}


.vertical_bar{
    width: 1px;
    height: 12px;
    margin-left: 7px;
    margin-right: 7px;
    border: solid 1px $color-txt;
    &--2{
        @extend .vertical_bar;
        height: 20px;

    }
}



.social-network{
    @include flexR_end;
    a{
        width: auto;
        height: auto;
    }
    svg{
        width: 20px;
        height: 20px;
        margin-left: 10px ;
        opacity: 0;
    }
    .social__anim{
        animation: icon-anim 200ms linear 12400ms 3 forwards;
        &--1{
            animation: icon-anim2 200ms linear 12400ms 3 forwards;
        }
    }
}




.blend{
    width: auto;
    height: 90vh;
    position: absolute;
    left: 32%;
}

// revoir les noms puisqu'ils sont similaires a certains de la page anim
.blend-shape{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13400ms forwards, blend-shape 3s linear 17500ms infinite forwards;
    opacity: 0;
}

.blend-shape-1{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13450ms forwards, blend-shape 3s linear 17600ms infinite forwards;
        opacity: 0;
}

.blend-shape-2{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13500ms forwards, blend-shape 3s linear 17700ms infinite forwards;
        opacity: 0;
}
.blend-shape-3{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13550ms forwards, blend-shape 3s linear 17800ms infinite forwards;
        opacity: 0;
}
.blend-shape-4{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13600ms forwards, blend-shape 3s linear 17900ms infinite forwards;
        opacity: 0;
}
.blend-shape-5{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13650ms forwards, blend-shape 3s linear 18000ms infinite forwards;
        opacity: 0;
}
.blend-shape-6{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13700ms forwards, blend-shape 3s linear 18100ms infinite forwards;
        opacity: 0;
}
.blend-shape-7{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13750ms forwards, blend-shape 3s linear 18200ms infinite forwards;
    opacity: 0;
}
.blend-shape-8{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13800ms forwards, blend-shape 3s linear 18300ms infinite forwards;
        opacity: 0;
}
.blend-shape-9{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13850ms forwards, blend-shape 3s linear 18400ms infinite forwards;
        opacity: 0;
}
.blend-shape-10{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13900ms forwards, blend-shape 3s linear 18500ms infinite forwards;
        opacity: 0;
}
.blend-shape-11{
    transform-origin: top;
    animation: blend-discover 1000ms ease 13950ms forwards, blend-shape 3s linear 18600ms infinite forwards;
        opacity: 0;
}
.blend-shape-12{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14000ms forwards, blend-shape 3s linear 18700ms infinite forwards;
        opacity: 0;
}
.blend-shape-13{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14050ms forwards, blend-shape 3s linear 18800ms infinite forwards;
        opacity: 0;
}
.blend-shape-14{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14100ms forwards, blend-shape 3s linear 18900ms infinite forwards;
        opacity: 0;
}
.blend-shape-15{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14150ms forwards, blend-shape 3s linear 19000ms infinite forwards;
        opacity: 0;
}
.blend-shape-16{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14200ms forwards, blend-shape 3s linear 19100ms infinite forwards;
        opacity: 0;
}
.blend-shape-17{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14250ms forwards, blend-shape 3s linear 19200ms infinite forwards;
        opacity: 0;
}
.blend-shape-18{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14300ms forwards, blend-shape 3s linear 19300ms infinite forwards;
        opacity: 0;
}
.blend-shape-19{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14350ms forwards, blend-shape 3s linear 19400ms infinite forwards;
        opacity: 0;
}
.blend-shape-20{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14400ms forwards, blend-shape 3s linear 19500ms infinite forwards;
        opacity: 0;
}
.blend-shape-21{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14450ms forwards, blend-shape 3s linear 19600ms infinite forwards;
        opacity: 0;
}
.blend-shape-22{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14500ms forwards, blend-shape 3s linear 19700ms infinite forwards;
        opacity: 0;
}
.blend-shape-23{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14550ms forwards, blend-shape 3s linear 19800ms infinite forwards;
        opacity: 0;
}
.blend-shape-24{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14600ms forwards, blend-shape 3s linear 19900ms infinite forwards;
        opacity: 0;
}
.blend-shape-25{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14650ms forwards, blend-shape 3s linear 20000ms infinite forwards;
        opacity: 0;
}
.blend-shape-26{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14700ms forwards, blend-shape 3s linear 20100ms infinite forwards;
        opacity: 0;
}
.blend-shape-27{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14750ms forwards, blend-shape 3s linear 20200ms infinite forwards;
        opacity: 0;
}
.blend-shape-28{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14800ms forwards, blend-shape 3s linear 20300ms infinite forwards;
        opacity: 0;
}
.blend-shape-29{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14850ms forwards, blend-shape 3s linear 20400ms infinite forwards;
        opacity: 0;
}
.blend-shape-30{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14900ms forwards, blend-shape 3s linear 20500ms infinite forwards;
        opacity: 0;
}
.blend-shape-31{
    transform-origin: top;
    animation: blend-discover 1000ms ease 14950ms forwards, blend-shape 3s linear 20600ms infinite forwards;
        opacity: 0;
}
.blend-shape-32{
    transform-origin: top;
    animation: blend-discover 1000ms ease 15000ms forwards, blend-shape 3s linear 20700ms infinite forwards;
        opacity: 0;
}
.blend-shape-33{
    transform-origin: top;
    animation: blend-discover 1000ms ease 15050ms forwards, blend-shape 3s linear 20800ms infinite forwards;
        opacity: 0;
}
.blend-shape-34{
    transform-origin: top;
    animation: blend-discover 1000ms ease 15100ms forwards, blend-shape 3s linear 20900ms infinite forwards;
        opacity: 0;
}
.blend-shape-35{
    transform-origin: top;
    animation: blend-discover 1000ms ease 15150ms forwards, blend-shape 3s linear 21000ms infinite forwards;
        opacity: 0;
}
.blend-shape-36{
    transform-origin: top;
    animation: blend-discover 1000ms ease 15200ms forwards, blend-shape 3s linear 21100ms infinite forwards;
        opacity: 0;
}
