#header_index{
    width: 100%;
    height: 20%;
    margin-bottom: 2%;
}
  
#main_index{
    width: 100%;
    height: 65%;
    position: relative;
}
  
#footer_index{
    width: 100%;
    height: 9%;
}


.footer_container{
    width: 100%;
    height: 100%;
    display: flex;
    @include flexR_end_spaceB; 
}


.date{
    opacity: 0;
    animation: date-anim 200ms linear 11400ms 3 forwards;
    @include flexR_JC;
    p{
        font-size: 20px;
    }
}


.vertical_bar{
    width: 1px;
    height: 12px;
    margin-left: 7px;
    margin-right: 7px;
    border: solid 1px $color-txt;
    &--2{
        @extend .vertical_bar;
        height: 20px;

    }
}



.social-network{
    @include flexR_end;
    a{
        width: auto;
        height: auto;
    }
    svg{
        width: 20px;
        height: 20px;
        margin-left: 10px ;
        opacity: 0;
    }
    .social__anim{
        animation: icon-anim 200ms linear 12400ms 3 forwards;
        &--1{
            animation: icon-anim2 200ms linear 12400ms 3 forwards;
        }
    }
}




.blend{
    width: auto;
    height: 90vh;
    position: absolute;
    left: 32%;
}

// revoir les noms puisqu'ils sont similaires a certains de la page anim
.back-shape{
    transform-origin: top;
    animation: back-shape 3s linear infinite forwards;
}
.back-shape-1{
    transform-origin: top;
    animation: back-shape 3s linear 100ms infinite forwards;
}

.back-shape-2{
    transform-origin: top;
    animation: back-shape 3s linear 200ms infinite forwards;
}
.back-shape-3{
    transform-origin: top;
    animation: back-shape 3s linear 300ms infinite forwards;
}
.back-shape-4{
    transform-origin: top;
    animation: back-shape 3s linear 400ms infinite forwards;
}
.back-shape-5{
    transform-origin: top;
    animation: back-shape 3s linear 500ms infinite forwards;
}
.back-shape-6{
    transform-origin: top;
    animation: back-shape 3s linear 600ms infinite forwards;
}
.back-shape-7{
    transform-origin: top;
    animation: back-shape 3s linear 700ms infinite forwards;
}
.back-shape-8{
    transform-origin: top;
    animation: back-shape 3s linear 800ms infinite forwards;
}
.back-shape-9{
    transform-origin: top;
    animation: back-shape 3s linear 900ms infinite forwards;
}
.back-shape-10{
    transform-origin: top;
    animation: back-shape 3s linear 1000ms infinite forwards;
}
.back-shape-11{
    transform-origin: top;
    animation: back-shape 3s linear 1200ms infinite forwards;
}
.back-shape-12{
    transform-origin: top;
    animation: back-shape 3s linear 1200ms infinite forwards;
}
.back-shape-13{
    transform-origin: top;
    animation: back-shape 3s linear 1300ms infinite forwards;
}
.back-shape-14{
    transform-origin: top;
    animation: back-shape 3s linear 1400ms infinite forwards;
}
.back-shape-15{
    transform-origin: top;
    animation: back-shape 3s linear 1500ms infinite forwards;
}
.back-shape-16{
    transform-origin: top;
    animation: back-shape 3s linear 1600ms infinite forwards;
}
.back-shape-17{
    transform-origin: top;
    animation: back-shape 3s linear 1700ms infinite forwards;
}
.back-shape-18{
    transform-origin: top;
    animation: back-shape 3s linear 1800ms infinite forwards;
}
.back-shape-19{
    transform-origin: top;
    animation: back-shape 3s linear 1900ms infinite forwards;
}
.back-shape-20{
    transform-origin: top;
    animation: back-shape 3s linear 2000ms infinite forwards;
}
.back-shape-21{
    transform-origin: top;
    animation: back-shape 3s linear 2100ms infinite forwards;
}
.back-shape-22{
    transform-origin: top;
    animation: back-shape 3s linear 2200ms infinite forwards;
}
.back-shape-23{
    transform-origin: top;
    animation: back-shape 3s linear 2300ms infinite forwards;
}
.back-shape-24{
    transform-origin: top;
    animation: back-shape 3s linear 2400ms infinite forwards;
}
.back-shape-25{
    transform-origin: top;
    animation: back-shape 3s linear 2500ms infinite forwards;
}
.back-shape-26{
    transform-origin: top;
    animation: back-shape 3s linear 2600ms infinite forwards;
}
.back-shape-27{
    transform-origin: top;
    animation: back-shape 3s linear 2700ms infinite forwards;
}
.back-shape-28{
    transform-origin: top;
    animation: back-shape 3s linear 2800ms infinite forwards;
}
.back-shape-29{
    transform-origin: top;
    animation: back-shape 3s linear 2900ms infinite forwards;
}
.back-shape-30{
    transform-origin: top;
    animation: back-shape 3s linear 3000ms infinite forwards;
}
.back-shape-31{
    transform-origin: top;
    animation: back-shape 3s linear 3100ms infinite forwards;
}
.back-shape-32{
    transform-origin: top;
    animation: back-shape 3s linear 3200ms infinite forwards;
}
.back-shape-33{
    transform-origin: top;
    animation: back-shape 3s linear 3300ms infinite forwards;
}
.back-shape-34{
    transform-origin: top;
    animation: back-shape 3s linear 3400ms infinite forwards;
}
.back-shape-35{
    transform-origin: top;
    animation: back-shape 3s linear 3500ms infinite forwards;
}
.back-shape-36{
    transform-origin: top;
    animation: back-shape 3s linear 3600ms infinite forwards;
}
