#wrapper{
    width: 1440px;
    height: 100%;
    position: relative;
    margin: 0 auto; /* Centre horizontalement */
}

#header_index{
    width: 100%;
    height: auto;
}
  
#main_index{
    width: 100%;
    height: auto;
}
  
#footer_index{
    width: 100%;
    height: auto;
}





@media only screen and (min-height: 800px){

}

@media only screen and (min-height: 900px){

}
@media only screen and (min-height: 1100px){
}
        
@media only screen and (min-width: 1281px) and (max-width: 1440px){

}
        
@media only screen and (min-width: 1600px) {

}



#intoduction{
   width: 1440px;
   height: auto;
   padding: 93px 80px 93px 80px;
   background: $gradient-body;
   @include flexrow;
}

.intro_container{
    width: 673px;
    height: 100%;
    &-txt{
        width: 553px;
        margin-bottom: $margin;
        h1{
            margin-bottom: $margin;
            color: $white;
            span{
                color: $primary;
            }
        }
        p{
            color: $white;
            margin-bottom: $margin;
        }
    }
    &-customer{
        width: 100%;
        @include flexrowspaceB;
    }
}

.intro_illustration{
    width: 587px;
    height: auto;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.intro_banner{
    width: 100%;
    height: 230px;
    position: relative;
    background: $gradient-body;
    @include flexcentercenter;
    
    &-txt{
        width: 100%;
        height: auto;
        white-space: nowrap;
        overflow: hidden;
        transform: rotate(-4deg);
        p{
            animation: banner 10s linear infinite forwards;
            font-size: 160px;
            font-weight: 500;
            color: $primary;
            font-family:'Outfit', Verdana, Arial, Open;
            span{
                -webkit-text-stroke: 3px;
                -webkit-text-stroke-color: $primary;
                color: transparent;
            }
        }

    }
}

.intro_polygon{
    width: 100%;
    height: 86px;
    position: relative;
    background: $gradient-body;
    clip-path: polygon(0 0, 100% 0, 100% 2%, 0% 100%);
    bottom: 1px;
}

