
@mixin flexrow{
    display: flex;
    flex-direction: row;
}

@mixin flexcolumn{
    display: flex;
    flex-direction: column;
}
@mixin flexcolumncenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin flexcolumncenter2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexrowcenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin flexrowcenter2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@mixin flexrowspaceB{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin flexrowspaceBcenter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flexrowcentercenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexcentercenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexcolumncentercenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flexcolumnspaceB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flexcolumnflexstart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@mixin flexrowspaceB{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flexrowcenterspaceB{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@mixin flexrowstartcenter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexrowspaceBflexend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

@mixin flexrowflexendcenter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
@mixin flexrowflexendflexend{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
@mixin flexcolumnflexendcenter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

