
/*------ COLORS ------*/

//BASICS 
$black: #072038;
$white: #FFFFFF;
$color-txt: #072038;

//THEME 
$primary100: #F0FDFF;
$primary-light: #56CFE2;
$primary: #26C1D9;
$primary-dark: #1D96A9;
$primary700: #156B79;


$secondary-light: #FEA091;
$secondary: #FD7762;
$secondary-dark: #E46B58;

$neutral100: #F7FAFB;
$neutral-light: #CCDFE0;
$neutral: #A0BDC0;
$neutral-dark: #729497;

$gradient: linear-gradient(90deg, rgba(38,193,217,1) 0%, rgba(182,227,242,1) 100%);
$gradient-body: linear-gradient(90deg, rgba(7,32,56,1) 0%, rgba(10,53,95,1) 100%);

//STATUS
$info-light: #E3F5FF;
$info: #2F97ED;
$info-dark: #0F62A8;

$warning-light: #FEFCBF;
$warning: #FFC93E;
$warning-dark: #C07E1A;

$error-light: #FED7D7;
$error: #E73434;
$error-dark: #AE1616;

$sucess-light: #C9F3DA;
$sucess: #2FBE2C;
$sucess-dark: #067503;


/*------ TYPO ------*/

$menu: 16px/24px 500 $black 'Outfit', Verdana, Arial, Open;


/*------ Margin ------*/

$margin: 35px;

/*------ icon ------*/

$iconlist: 18px;
